.playerContainer{
    outline-style: solid;
    outline-color: black;
    float: left;
    display: flex;
    padding: 20px;
    width: 45%;
    height: 500px;
}
 
#scoreP1, #scoreP2{
    margin-top: 2%;
    margin-right: 2%;
    width: 15%;
}
 
.gameGrid, .gameGrid2{
    width:70%;
    min-width: 40px;
    height:100%;

    background-color: maroon;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
}
 
.preview, .preview2 {
    margin-left: 10%;
    width:20%;
    height:12%;
    border-radius:8px;
    display: flex;
    flex-wrap: wrap;
    background-color: maroon;
}

.preview div, .preview2 div{
    width: 33.3%;
    height: 20px;
    color: orange;
}

.gameGrid div, .gameGrid2 div{
    height: 4.7%;
    width: 10%;
    border-radius:7px;
    display: inline-block;
}
 
.block {
    border-radius:8px;
    background-color: blue;
}
 
.container{
    outline-style: solid;
    outline-color: black;
    float: left;
    display: flex;
    width: 312px;
    padding: 20px;
}
.communicatorContainer{
    visibility: hidden;
    outline-style: solid;
    outline-color: black;
    float: left;
    display: flex;
    padding: 20px;
}
 

