.playerContainer{
    outline-style: solid;
    outline-color: black;
    float: left;
    display: flex;
    padding: 20px;
}
 
#scoreP1{
    margin-top: 20px;
    margin-right: 20px;
    width: 200px;
}
#scoreP2{
    margin-top: 20px;
    margin-right: 20px;
    width: 200px;
}
 
.preview div{
    width:20px;
    height:20px;
    color: orange;
}
 
.gameGrid{
    width:200px;
    height:420px;
    background-color: yellowgreen;
    border: 1px solid;
 
    display: flex;
    flex-wrap: wrap;
    
    /*grid-template-rows: 20px 10px;*/
 
}
 
.preview{
    margin-left: 50px;
    width:60px;
    height:60px;
    border-radius:8px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}
.gameGrid div{
    height: 20px;
    width: 20px;
    border-radius:8px;
    /*background-color: red;
/*margin-top: 20px;
margin-bottom: -80px;*/
}
 
.block {
    border-radius:8px;
    background-color: blue;
}
 
.container{
    outline-style: solid;
    outline-color: black;
    float: left;
    display: flex;
    width: 312px;
    padding: 20px;
}
 

